@import "var";


/// tag

.tag {
  background-color: $neutral-50;
  border: 1px solid $neutral-200;
  color: $neutral-800;
  height: 32px;
  padding: 0px 12px;
  font-size: $font-size ;
  font-weight: 500;
  outline: none;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-inline-end: 4px;
  }
  &.neutral {
    color: $neutral-800;
    border-color: $neutral-200;
    background-color: $neutral-50;
  }
  &.success {
    color: $green-800;
    border-color: $green-200;
    background-color: $green-50;
  }
  &.error {
    color: $red-800;
    border-color: $red-800;
    background-color: $red-50;
  }
  &.info{
    color: $blue-800;
    border-color: $blue-200;
    background-color: $blue-50;
  }
  &.warning{
    color: $yellow-800;
    border-color: $yellow-800;
    background-color: $yellow-50;
  }

  &.medium {
    height: 32px;
    padding: 0px 12px;
    font-size: $font-size - 2;
  }

  &.small {
    height: 24px;
    padding: 0px 8px;
    font-size: $font-size - 4;
  }

  &.xsmall {
    height: 20px;
    padding: 0px 8px;
    font-size: 10px;
  }
}


/////
// .status-tag {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 9999px;
//   outline: none;
//   height: 32px;
//   padding: 0px 16px;
//   font-size: $font-size - 2;
//   font-weight: 500;
//   background: $neutral-50;
//   color: $neutral-800;

//   .status-icon {
//     width: 10px;
//     height: 10px;
//     border-radius: 100%;
//     background-color: #4d5761;
//     margin-inline-end: 8px;
//   }

//   &.green {
//     color: $green-800;
//     background-color: $green-50;

//     .status-icon {
//       background-color: $green-800;
//     }
//   }

//   &.blue {
//     color: $blue-800;
//     background-color: $blue-50;

//     .status-icon {
//       background-color: $blue-800;
//     }
//   }

//   &.yellow {
//     color: $yellow-800;
//     background-color: $yellow-50;

//     .status-icon {
//       background-color: $yellow-800;
//     }
//   }

//   &.red {
//     color: $red-800;
//     background-color: $red-50;

//     .status-icon {
//       background-color: $red-800;
//     }
//   }

//   &.medium {
//     height: 32px;
//     padding: 0px 16px;
//     font-size: $font-size - 2;
//   }

//   &.small {
//     height: 24px;
//     padding: 0px 8px;
//     font-size: $font-size - 4;
//   }

//   &.xsmall {
//     height: 20px;
//     padding: 0px 8px;
//     font-size: 10px;
//   }
// }

// img.logo-img{
//   height: 33px;
//   width: auto;
// }